[submodule "COVID-19"]
	path = COVID-19
	url = https://github.com/CSSEGISandData/COVID-19
[submodule "coronavirus-data"]
	path = coronavirus-data
	url = https://github.com/nychealth/coronavirus-data
[submodule "vaccine-module"]
	path = vaccine-module
	url = https://github.com/govex/COVID-19
